
.nav-logo {
    display: block;
    float: left;
    margin-top: 8px;
    height: 30px;
    width: 30px;
    background: url(../img/wolf_fill.svg) no-repeat top left;
}


.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}


@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
    
  
    
}

.leader {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
}

.leader .container {
    padding: 100px 0;
    font-size: 40px;
    vertical-align: middle
}

.showcase {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #000;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.showcase .container {
    padding: 100px 0;
    font-size: 40px;
    color: #fff;
}




